.main-nav-bar {
  position: fixed;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #525558;
  height: 50px;
  width: 100%;
  nav {
    font-size: inherit;
    align-items: inherit;
    display: inherit;
    flex-direction: inherit;
  }
  a:hover, button:hover {
    color: #0099e5;
  }
}

.main-right-nav button{
  padding-left: 15px;
}

#mini-profile-pic {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  * {
    padding: 4px 0px;
  }
// .cover-photo {
//   position: fixed;
//   padding: 0;
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: row;
//   // justify-content: space-between;
//   align-items: center;
//   // font-size: 18px;
//   // color: #525558;
//   height: 425px;
//   width: 100%;
//   z-index: -1;
// }
  .cover-photo {
    width: 100%;
    img{
      // position: fixed;
      width: 100%;
      height: 425px;
    }

  }

  .profile-photo {
    margin-top: -100px;
    img {
      border-style: solid;
      border-color: white;
      border-width: 3px;
      border-radius: 100px;
      width: 200px;
      height: 200px;
    }
  }

  .bio {
    text-align: center;
  }

}
