.login-form-container{
  background: image-url('splash-nature1.jpg') no-repeat left bottom;
  height: 100%;
  width: 100%;
  background-size: cover;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.login-form-container-layer{
  background-color: rgba(150, 156, 165, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form-box{

  	font-size: 18px;
    background: #fff;
  	display: inline-block;
  	text-align: center;
    padding: 20px;
    border-radius: 2px;
    border-color: #71767a;
    border-style: solid;
    border-width: 1px;
  	width: 400px;
  	margin-top: 20vh;
}

.login-form-box input, button{
  color: #525558;
  font-size: 14px;
  text-align: left;
  color: black;
  border-color: rgba(185,193,199,0.5);
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  width: 90%;
  height: 38px;
  padding: 8px 10px;
  border-spacing: 1px;
  margin: 6px 0px 17px 0px;
}

#submit{
  text-align: center;
  color: white;
  background-color: #34bf49;
}

#submit:hover{
  cursor: pointer;
  background-color: #3ad852;
}
